@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --rebel-pink: #f71963; /* Rebel Pink */
    --soft-pink: #fff3f6; /* Soft Pink */
    --yogurt-pink: #ffe0ef; /* Yogurt Pink */
    --bubble-gum-pink: #ffc4dd; /* Bubble Gum Pink */
    --serious-black: #142032; /* Serious Black */
    --winter-gray: #e7e9ee; /* Winter Gray */
    --cool-gray: #a1a8b7; /* Cool Gray */
    --serious-gray: #5b6e84; /* Serious Gray */
    --plain-white: #ffffff; /* Plain White */
    --white-ice: #f8f7fc; /* White Ice */

    --background: var(--white-ice);
    --foreground: var(--serious-black);

    --card: var(--plain-white);
    --card-foreground: var(--serious-black);

    --popover: var(--white-ice);
    --popover-foreground: var(--serious-black);

    --primary: var(--rebel-pink);
    --primary-foreground: var(--plain-white);

    --secondary: var(--serious-black);
    --secondary-foreground: var(--winter-gray);

    --muted: var(--soft-pink);
    --muted-foreground: var(--serious-black);

    --accent: var(--winter-gray);
    --accent-foreground: var(--serious-black);

    --destructive: var(--rebel-pink);
    --destructive-foreground: var(--plain-white);

    --border: #516383de;
    --input: #516383de;
    --ring: var(--serious-gray);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--serious-black);
    --foreground: var(--winter-gray);

    --card: var(--serious-black);
    --card-foreground: var(--winter-gray);

    --popover: var(--serious-black);
    --popover-foreground: var(--winter-gray);

    --primary: var(--rebel-pink);
    --primary-foreground: var(--winter-gray);

    --secondary: var(--winter-gray);
    --secondary-foreground: var(--serious-black);

    --muted: var(--winter-gray);
    --muted-foreground: var(--serious-black);

    --accent: var(--serious-gray);
    --accent-foreground: var(--white-ice);

    --destructive: var(--rebel-pink);
    --destructive-foreground: var(--plain-white);

    --border: var(--serious-gray);
    --input: var(--serious-gray);
    --ring: var(--rebel-pink);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
